build
dist / media
node_modules
.DS_Store
.env
.next
.vercel

# Payload default media upload directory
public/media/

public/robots.txt
public/sitemap*.xml
/.idea/.gitignore
/.idea/modules.xml
/.idea/payloadcms-starter.iml
/.idea/php.xml
/.idea/vcs.xml
